*.swp
.ipynb_checkpoints
__pycache__
venv
api_key
api_organization
completion_cache.json
*.ipynb
/data
/code/joint_model/my_venv
/code/joint_model/data
/code/joint_model/models
/code/joint_model/outputs
code/distant_supervision
code/BERE/data
